* {
    margin: 0px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);
    padding: 30px 30px 30px 150px;

}

.banner .flower-pic {
    width: 400px;
}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-weight: 600;
    width: 600px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 600px;
    margin: 10px;


}

.btn {
    background: #E55473;
    display: flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;

}

.section-title {
    text-align: center;
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    padding: 20px;


}

.section-description {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    margin: 10px;

}



.image-contianer {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 10px;

}

.img-1 {
    border-radius: 350px 350px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.img-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.img-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    background: rgba(39, 39, 39, 0.05);
    border: 8px solid #FFF;
    margin: 140px;
    width: 1000px;
    height: 200px;

}

.box-container img {
    display: inline;
    width: 50px;
    height: 50px;
}

.sale {
    display: flex;
}

.second-banner-title {
    text-align: center;
    margin: 30px;
}

.second-banner-description {
    text-align: center;

}

.second-banner {
    width: 1200px;
    height: 300px;
    border-radius: 4px;
    background: rgba(229, 84, 115, 0.05);
    flex-shrink: 0;

}
.second-banner-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.pic{
    width: 200px;
}